version: 2.1

jobs:
  test-java:
    docker:
      - image: cimg/openjdk:22.0  # Assurez-vous que c'est la version correcte d'OpenJDK
    steps:
      - checkout
      - run:
          name: Calculate cache key
          command: |-
            find . -name 'pom.xml' -o -name 'gradlew*' -o -name '*.gradle*' | \
                    sort | xargs cat > /tmp/CIRCLECI_CACHE_KEY
      - restore_cache:
          key: cache-{{ checksum "/tmp/CIRCLECI_CACHE_KEY" }}
      - run:
          name: Run Maven Tests
          command: mvn verify
      - store_test_results:
          path: target/surefire-reports
      - save_cache:
          key: cache-{{ checksum "/tmp/CIRCLECI_CACHE_KEY" }}
          paths:
            - ~/.m2/repository


workflows:
  version: 2
  build-and-test:
    jobs:
      - test-java:  # Ce job exécute les tests
          filters:
            branches:
              only:
                - main  # Exécute uniquement sur la branche master
